<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 style="font-weight:bold" >File Explorer</h2>
    <h6 style="margin-left:15px;margin-bottom:0px;">
      <md-button ng-repeat="path in $ctrl.folderHiearchy">{{path.name}} <span ng-if="$ctrl.folderHiearchy && $ctrl.folderHiearchy.length > 1" class="fa fa-angle-right"></span></md-button>
    </h6>
    <span flex ></span>
    <md-button aria-label="Add" class='md-icon-button fe-button' ng-click="add()"><span class="fa fa-plus"></span></md-button>
    <md-button aria-label="Download" class='md-icon-button fe-button' ng-click="download()"><span class="fa fa-download"></span></md-button>
    <md-button aria-label="Preview" class='md-icon-button fe-button' ng-click="preview()"><span class="fa fa-eye"></span></md-button>
    <md-button aria-label="Delete" class='md-icon-button fe-button' ng-click="delete()"><span class="fa fa-trash-o"></span></md-button>
  </div>

</md-toolbar>
<div class="layout-column">

  <div class="layout-wrap layout-row" layout="row" layout-wrap>
    <explorer-folder on-open="$ctrl.openFolder(item)" on-select="$ctrl.select(item)" ng-repeat="item in $ctrl.selectedFolder.folders" folder="item"></explorer-folder>
  </div>
  <div class="layout-wrap layout-row" layout="row" layout-wrap>
    <explorer-file on-select="$ctrl.select(item)" ng-repeat="item in $ctrl.selectedFolder.files" file="item" ></explorer-file>
  </div>
</div>
