<md-button ng-click="$ctrl.select()" class="md-raised" ng-dblclick="$ctrl.open()" ng-class="$ctrl.folder.selected ? 'selected' : ''"> 
  <div class=" layout-row" layout="row" layout-align="space-between center" role="button">
    <div layout="row" class="title layout-align-start-center layout-row folder" layout-align="start center">
      <div class="name ng-binding">
        <i class="fa fa-folder-o folder-icon" aria-hidden="true"></i>
        <span class="texti">{{$ctrl.folder.name}}</span>
      </div>
    </div>
  </div>
</md-button>
