.folders{
  margin: 8px;
}
.fe-button{
  padding:5px;
  font-size: 1em;
}

.md-button.selected{
  background: rgb(63,81,181);
}


.drop-box {
    background: #F8F8F8;
    border: 2px dashed red;
    width: 200px;
    text-align: center;
    padding: 25px;
    margin: 10px;

}
.dragover {
    border: 2px dashed lightblue !important ;

}
