<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Course Planner</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Syllabuses:</h1>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="syllabusTitle">Title</label>
          <input ng-model="newSyllabus.title" class="form-control" id="syllabusTitle" placeholder="Title">
        </div>
        <div class="form-group">
          <label class="sr-only" for="syllabusLecturer">Lecturer</label>
          <input ng-model="newSyllabus.lecturer" class="form-control" id="syllabusLecturer" placeholder="Lecturer">
        </div>
        <button class="btn btn-success" ng-click="createSyllaus()">Add Syllabus</button>
      </form>

      <md-list>
        <md-subheader class="md-no-sticky">Syllabuses</md-subheader>
        <md-list-item class="md-3-line" ng-click="goToSyllabus(syllabus)" ng-repeat="syllabus in syllabuses">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h4 class="media-heading">{{syllabus.title}}</h4>
            <h6> - {{syllabus.lecturer ? syllabus.lecturer : 'unknown'}}</h6>
          </div>
        </md-list-item>
      </md-list>

    </div>
  </div>

</div>
<footer></footer>
