#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.animate-repeat-course.ng-enter {
   transition: 2s linear all;
    background-color: lightgreen;
    opacity: 0;
}

.animate-repeat-course.ng-enter.ng-enter-active {
    background-color: #f3f3f3;
    opacity: 1;
}

.animate-repeat-course.ng-leave {
    transition: 1s linear all;
    background-color: #FF6F79;
    opacity: 1;
}

.animate-repeat-course.ng-leave.ng-leave-active {
    opacity: 0;
}
