<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Course Planner</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Syllabuses:</h1>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="syllabusTitle">Title</label>
          <input ng-model="newSyllabus.title" class="form-control" id="syllabusTitle" placeholder="Title">
        </div>
        <div class="form-group">
          <label class="sr-only" for="syllabusLecturer">Lecturer</label>
          <input ng-model="newSyllabus.lecturer" class="form-control" id="syllabusLecturer" placeholder="Lecturer">
        </div>
        <button class="btn btn-success" ng-click="createSyllaus()">Add Syllabus</button>
      </form>
      <div class="media" ng-repeat="syllabus in syllabuses" >
        <div class="media-left">
          <a href="#">
            <img class="media-object pull-left" src="http://placehold.it/64x64">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{syllabus.title}}</h4>
          <h6> - {{syllabus.lecturer ? syllabus.lecturer : 'unknown'}}</h6>

        </div>
      </div>
    </div>
  </div>

</div>
<footer></footer>
